<!DOCTYPE html>
<html lang="en" ng-app="museumClicker">
  <head>
    <title>Museum Clicker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Museum Clicker">
    <meta property="og:type" content="game">
    <meta property="og:description" content="An addictive incremental game that was made during the 2020 Covid-19 Lockdown, forked from the CERN Webfest 2014. It takes the player on a historic journey through museum's collections.">
    <meta property="og:image" content="https://avatars2.githubusercontent.com/u/8345868">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <link rel="apple-touch-icon" href="assets/mobile/icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/mobile/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"> Museum Clicker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#achievements-modal"><i class="fas fa-trophy"></i> Achievements</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#stats-modal"><i class="fas fa-chart-bar"></i> Statistics</a>
          </li>
          <li class="nav-item dropdown" ng-controller="SaveController">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-save"></i> Saved: <span ng-cloak>{{ lastSaved | date : 'H:mm' }}</span> <span class="caret"></span></a>
            <div class="dropdown-menu">
              <li class="dropdown-item"><a href="#" ng-click="saveNow()"><i class="fas fa-save"></i> Save now</a></li>
              <li class="divider"></li>
              <li class="dropdown-item"><a href="#" ng-click="restart()"><i class="fas fa-sync"></i> Restart</a></li>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target="#about-modal"><i class="fas fa-info-circle"></i> About</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="https://github.com/papposilene/museum-clicker/" class="nav-link" target="_blank"><i class="fab fa-github"></i> GitHub</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-share-alt"></i> Social<span class="caret"></span></a>
            <div class="dropdown-menu">
              <li class="dropdown-item"><a href="https://twitter.com/papposilene"><i class="fab fa-twitter"></i> Twitter</a></li>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div id="main-content" class="container-fluid col-no-padding">
      <div class="col-md-3 col-md-3s col-lg-2 col-no-padding visible-md-block visible-lg-block">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fas fa-university"></i> Curatorial Departments
            </h4>
          </div>
          <div class="panel-body scrollable large" id="collectionLarge" ng-controller="CollectionController as cc">
            <div id="collectionContent" ng-controller="CollectionController as cc">
              <ul class="media-list" ng-cloak>
                <li class="media" ng-repeat="c in cc.collection" ng-show="cc.isVisible(c)">
                  <img ng-show="c.state.level > 0" class="collection-icon media-object" ng-src="{{ c.image }}" width="32px" height="32px" alt="">
                  <img ng-hide="c.state.level > 0" class="collection-icon media-object" src="assets/icons/png/unknown.png" alt="">
                  <div class="media-body">
                    <h4 class="media-heading">{{ c.state.level > 0 ? c.name : '?????' }} <span ng-show="c.state.level > 0" class="badge">Level {{ c.state.level }}</span></h4>
                    <p ng-show="c.state.level > 0">{{ c.description }}</p>
                    <p ng-show="c.state.level > 0" class="small">Collection yields <strong>{{ c.state.reputation | niceNumber }}</strong> reputation.</p>
                    <div class="btn-group">
                      <button class="btn btn-primary" ng-disabled="!cc.isAvailable(c)" ng-click="cc.doCollection(c)"><i class="fas fa-university"></i> <small>{{ c.state.cost | niceNumber }} artworks</small></button>
                      <button class="btn btn-info {{ c.state.interesting ? 'blink' : '' }}" ng-show="c.state.level > 0" ng-click="cc.showInfo(c)"><i class="fas {{ c.state.interesting ? 'fa-exclamation' : 'fa-info' }}"></i></button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="column-museum" class="col-xs-6 col-md-5 col-md-5s col-lg-6 col-no-padding-xs" ng-controller="MuseumController as mc">
        <input class="hidden-xs" id="museumname" value="{{ mc.museum.state.name }}" ng-model="mc.museum.state.name" ng-cloak>
        <hr class="hidden-xs">
        <div id="ticket-holder">
          <div id="ticket" ng-controller="TicketController as tc">
            <canvas id="ticket-core" width="400" height="400">
              Your ticket office. Click on it to generate visitors.
            </canvas>
            <canvas ng-click="tc.click()" id="ticket-visitors" width="400" height="400" class="prevent-select">
              Your ticket office. Click on it to generate visitors.
            </canvas>
          </div>
        </div>
        <button id="ticket-info" class="btn btn-info" ng-click="mc.showTicketInfo()"><i class="fas fa-info"></i></button>
        <div class="row status" ng-cloak>
          <div class="col-xs-4 text-center col-no-padding-xs">
            <strong>Ticket Office</strong><br>
            {{ mc.museum.state.money | currency }}
            <div class="update-value" id="update-cashflow"></div>
          </div>
          <div class="col-xs-4 text-center col-no-padding-xs">
            <strong>Artworks</strong><br>
            {{ mc.museum.state.artwork | niceNumber }}
            <div class="update-value" id="update-artwork"></div>
          </div>
          <div class="col-xs-4 text-center col-no-padding-xs">
            <strong>Reputation</strong><br>
            {{ mc.museum.state.reputation | niceNumber }}
            <div class="update-value" id="update-reputation"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-md-3s col-lg-2 col-no-padding visible-md-block visible-lg-block">
        <div class="panel panel-default panel-stick">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fas fa-users"></i> Curatorial Staff
            </h4>
          </div>
          <div class="panel-body scrollable large" id="hrLarge">
            <div id="hrContent" ng-controller="HRController as hrc">
              <ul class="media-list" ng-cloak>
                <li class="media" ng-repeat="w in hrc.workers" ng-show="hrc.isVisible(w)">
                  <div class="media-body">
                    <h4 class="media-heading">{{ w.name }} <span ng-show="w.state.hired > 0" class="badge">{{ w.state.hired | niceNumber }}</span></h4>
                    <p ng-show="w.state.hired > 0">{{ w.description }}</p>
                    <p ng-show="w.state.hired > 0" class="small">Study <strong>{{ w.state.rate | niceNumber }}</strong> artworks per second.</p>
                    <button class="btn btn-primary" ng-disabled="!hrc.isAvailable(w)" ng-click="hrc.hire(w)"><i class="fas fa-user"></i> <small>{{ w.state.cost | currency }}</small></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-md-3s col-lg-2 col-no-padding visible-md-block visible-lg-block">
        <div class="panel panel-default hidden-xs hidden-sm">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fas fa-tools"></i> Upgrades
            </h4>
          </div>
          <div class="panel-body scrollable large" id="upgradesLarge">
            <div id="upgradesContent" ng-controller="UpgradesController as uc">
              <ul class="media-list media-list-no-margin" ng-cloak>
                <li class="media" ng-show="false"></li>
                <li class="media" ng-repeat="u in uc.upgrades" ng-show="uc.isVisible(u)">
                  <div class="media-body">
                    <h4 class="media-heading"><i class="fas {{ u.icon }} media-object"></i> {{ u.name }}</h4>
                    <p>{{ u.description }}</p>
                    <p class="small">{{ u.effect }}</p>
                    <button class="btn btn-primary" ng-disabled="!uc.isAvailable(u)" ng-click="uc.upgrade(u)"><i class="far fa-money-bill-alt"></i> <small>{{ u.cost | currency }}</small></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="column-tabs" class="col-xs-6 visible-xs-block visible-sm-block col-no-padding">
        <ul id="TabList" class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#collection" role="tab" data-toggle="tab"><i class="fas fa-university"></i> Collections</a></li>
          <li><a href="#hr" role="tab" data-toggle="tab"><i class="fas fa-users"></i> Curatorial Staff</a></li>
          <li><a href="#upgrades" role="tab" data-toggle="tab"><i class="fas fa-wrench"></i> Upgrades</a></li>
        </ul>
        <div id="TabContent" class="tab-content">
          <div class="tab-pane active scrollable" id="collection">

          </div>
          <div class="tab-pane scrollable" id="hr">

          </div>
          <div class="tab-pane scrollable" id="upgrades">

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="infoBox" tabindex="-1" role="dialog" aria-labelledby="infoBoxLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="infoBoxLabel"></h4>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="achievements-modal" tabindex="-1" role="dialog" aria-labelledby="achievements-label" aria-hidden="true" ng-controller="AchievementsController">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="achievements-label"><i class="fa fa-trophy"></i> Achievements</h4>
          </div>
          <div class="modal-body">
            <p class="text-center"><strong>Progress</strong> <span class="label label-info">{{ progress() }} / {{ achievements.length }}</span></p>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="a in achievements | orderBy:'state.timeAchieved' | reverse" ng-show="a.isAchieved()">
                <i class="fas {{ a.icon }}"></i>
                {{ a.description }}
                <span class="badge">{{ a.state.timeAchieved | niceTime }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="stats-modal" tabindex="-1" role="dialog" aria-labelledby="stats-label" aria-hidden="true" ng-controller="StatsController">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="stats-label"><i class="fa fa-bar-chart"></i> Statistics</h4>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item"><i class="fa fa-location-arrow"></i> : <strong>{{ museum.state.clicks | niceNumber }}</strong></li>
              <li class="list-group-item"><i class="fa fa-money"></i> : <strong>{{ museum.state.moneySpent | niceNumber }}</strong> spent / <strong>{{ museum.state.moneyCollected | niceNumber }}</strong> gathered</li>
              <li class="list-group-item"><i class="fa fa-database"></i> : <strong>{{ museum.state.artworkSpent | niceNumber }}</strong> used / <strong>{{ museum.state.artworkCollected | niceNumber }}</strong> collected</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="achievements-container" class="col-xs-6 col-sm-3"></div>
    <div id="messages-container" class="col-xs-6 col-sm-3"></div>

    <div id="mobile-orientation-container">
      <div id="mobile-orientation-message">
        You can only play Particle Clicker on your mobile device in landscape orientation.
      </div>
    </div>

    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Museum Clicker</h4>
          </div>
          <div class="modal-body">
            <h4>About</h4>
            <p class="small">Version: 0.9</p>
            <p class="small bg-warning">This is a pre-release. If you encounter any bugs please report them using <a href="https://github.com/particle-clicker/particle-clicker/issues"><i class="fa fa-github"></i> GitHub issues</a>. This game runs best in landscape mode. Performance of the event display may rely heavily on your hardware.</p>
            <p>Particle Clicker is a game that was made during the <a href="https://webfest.web.cern.ch">CERN Webfest 2014</a>. The idea is borrowed from <a href="http://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a>, an amazing and addictive cookie-themed game.</p>
            <h5>Libraries</h5>
            <p>This game is realised using a few libraries. Those are</p>
            <ul>
              <li><a href="http://angularjs.org">AngularJS</a></li>
              <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
              <li><a href="http://fortawesome.github.io/">Fontawesome</a></li>
              <li><a href="http://jquery.com">jQuery</a></li>
              <li><a href="http://imulus.github.io/retinajs/">retina.js</a></li>
              <li><a href="https://github.com/ftlabs/fastclick">fastclick.js</a></li>
              <li><a href="https://www.flaticon.com/packs/museum-10" title="Freepik">Freepik</a></li>
            </ul>
            <h5>Authors</h5>
            <ul>
              <li><a href="https://github.com/gbiro">Gabor Biro</a></li>
              <li><a href="https://github.com/ibab">Igor Babuschkin</a></li>
              <li><a href="https://github.com/kdungs">Kevin Dungs</a></li>
              <li><a href="https://github.com/ntadej">Tadej Novak</a></li>
              <li><a href="https://github.com/zhangjiannan">Jiannan Zhang</a></li>
            </ul>
            <p>Feel free to get in touch with us via GitHub or by shooting us an email on<br><a href="mailto:particle-clicker@googlegroups.com">particle-clicker@googlegroups.com</a>.</p>
            <h5>Source</h5>
            <p>The source code of this game is freely available on <a href="https://github.com/papposilene/museum-clicker/"><i class="fa fa-github"></i> GitHub</a> under the terms of an MIT license.</p>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="//use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="js/external/jquery.cookie-1.4.1.min.js"></script>
    <script src="js/external/retina.js"></script>
    <script src="js/external/fastclick.js"></script>

    <script src="js/storage.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/analytics.js"></script>
    <script src="js/gameobjects.js"></script>
    <script src="js/event.js"></script>
    <script src="js/ticketoffice.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/game.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
